body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}

.orange-color{
  color: orange;
  font-size: 21px;
}
p{
  color: rgb(0 0 0 / 49%);
  font-size: 18px;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(red, orange);
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;

}

/* dream-big-section-------------- */

.dream-bg{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;

}
p.dream-big-p {
  padding-right: 70px;
}

/* exercise section-------- */
.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  padding: 20px;
}
.exercise-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack-developer{
  border-left: 7px solid #FF6347;
}
#baby-stack-developer{
  border-left: 7px solid green;
}
footer{
  text-align: center;
}